@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Janna";
  src: url("../assets/fonts/Janna\ LT\ Bold.ttf") format("ttf");
}

.lottieHolder {
  display: flex;
  justify-content: space-around;
  right: 0;
  top: 0;
  background-image: url("../assets/images/toporigin4.svg");
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  width: 100%;
  height: 12em;
}
.dailyquote {
  font-family: "Poppins", sans-serif;
  color: #1e330a80;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  margin-top: -1vh;
  padding-bottom: 30px;
}
.dailyquote p {
  width: 80vw;
  text-align: center;
}
.date {
  font-family: "Poppins", sans-serif;
  padding: 0 28px 15px 28px;
  z-index: 90;
  display: flex;
  align-items: center;
  color: #003304;
  margin: 0;
  height: 3vh;
}
.date .month {
  font-family: "Janna";
  font-size: 2.6rem;
  padding-right: 10px;
  line-height: 1.5em;
}
.date .year {
  font-size: 1.4rem;
  font-weight: 500;
}
.dateSelect {
  margin: 0 28px;
  /* display: flex; */
}
.mother{
  display: flex;
  overflow-x: scroll;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
@media (min-width: 1024px){
  .mother::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #8dc63f;
}
}
.dateSelect .dayboom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  margin-right: 6vw;
  margin-bottom: 10px;
  padding: 8px 20px;
  border-radius: 30px;
  box-shadow: 0 5px 5px #00000010;
  font-family: "Poppins", sans-serif;
  line-height: 1em;
}
.dateSelect .dayboom .weekday {
  font-size: 1.3rem;
  font-weight: 400;
  /* text-shadow: 0 5px 5px #575757; */
}
.dateSelect .dayboom .monthdate {
  font-size: 1.6rem;
  font-weight: 600;
}



.dateSelect .dayboom:hover,
.dateSelect .dayboom.active {
  background: #8dc63f;
  color: #fff;
  cursor: pointer;
}
.timeToday {
  padding: 30px;
  margin: 30px 0 40px 0;
  background: radial-gradient(100% 100% at 50.15% 0%, #8dc63f 0%, #578e1c 100%);
  box-shadow: 0px 4px 20px rgba(87, 142, 28, 0.1);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.iftarToday {
  justify-content: flex-end;
  border-left: 1px solid #fff;
}
.sahriToday,
.iftarToday {
  display: flex;
  align-items: center;
}
.timeToday h2 {
  font-size: 1.6rem;
  line-height: normal;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  padding-bottom: 20px;
}
.timeToday h2 span{
    font-size: 1.4rem;
    font-weight: 400;
}
.timeToday h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  letter-spacing: 1px;
}
.map {
    font-family: "Poppins", sans-serif;
  width: 100%;
  height: auto;
  
}
.map div{
    padding-left: 10px;
}
.map h2{
    font-size: 2rem;
  padding-right: 10px;
  line-height: 1.5em;
  padding-left: 28px;
}
.map h2 span{
    font-size: 1.4rem;
    font-weight: 500;
}